img{
    height: 500px;
    width: 500px;
    object-fit: none;
    object-position: 35%;
    border-radius: 50%;
    margin: 10px;
}
body{   
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
    width: 100%;
}
h1{ 
    font-weight: 900;
    font-size: 120px;
    kerning: auto;
}
h2{
    font-weight: 700;
    font-size: 48px;
    kerning: auto;
}
h3{
    font-weight: 500;
    font-size: 36px;
    kerning: auto;
}
h5{
    font-weight: 400;
    font-size: 28px;
    kerning: auto;
}
h6{
    font-weight: 400;
    font-size: 20px;
}
ul{
    padding-left: 0;
}
.encabezado{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    width: 60%;
    align-content: space-around;    
}
.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.nombre{
    line-height: 75%;
    letter-spacing: -3px;
}
.subtitulo{
    font-size: 40px;
    margin-top: -70px;
}
.wrap{
    display: flex; 
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    align-content: space-around;
    width: 60%;
}
.lateral{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
}
.cuerpo{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px;
}
.modulo{
    margin-top: -40px;
}
.modulotexto{
    list-style: none;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -2px;
    line-height:normal;
}
.progressbar{
    background-color: darkgray;
    width: 300px;
    margin: -45px 0;
    margin-bottom: 0;
}
.progressbar>div{
    background-color: dimgray;
    width: 40%;
    height: 20px;
}
.cuerpotexto{
    font-weight: 400;
    font-size: 20px;
    kerning: auto;
    line-height: normal;
    margin-top:-30px;
}
.moduloexp{
    margin-top:-30px;
    margin-bottom: 50px;
}
.cargo{
    margin-bottom: 40px;
}
.lugar{
    margin-top: -40px;
    margin-bottom: 40px;
}
.periodo{
    margin-top: -40px;
    margin-bottom: 50px;
}
